*/__pycache__/
src/__pycache__/
tests/__pycache__/
tests/__pycache__/
tests/__pycache__/conftest.cpython-37-pytest-7.1.1.pyc
tests/__pycache__/index.cpython-37.pyc
tests/test_frontend/__pycache__/test_main.cpython-37-pytest-7.1.1.pyc